/* Base Styles */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Page Styles */
section {
  height: 100vh;
}

#section-1 {
  background-color: #F44336;
}
#section-2 {
  background-color: #3F51B5;
}
#section-3 {
  background-color: #009688;
}

.textbox {
  padding-top: 35vh;
}

h1 {
  font-size: 2rem;
  color: #FFF;
  text-align: center;
}
